{% extends 'base.html.twig' %}

{% block title %}CREATE RECETTE!{% endblock %}

{% block body %}
    <!--banner-->
    <div class="banner banner-blog">
        <div class="container ">
            <div class="main-heading">
                <h1>Ajouter Recettes</h1>
            </div>

        </div>
    </div>
    <!--banner ends-->

    <div class="recipes-home-body inner-page">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="recipe-set submit-recipe-set">
                        {#<h2>Submit Recipe</h2>
                        <p>Food Recipe theme include a Recipe Submit Template. It allow users to submit a recipe with featured image and related details. A user
                            should be logged in to submit a recipe. </p>#}

                        <div class="submit-recipe-form">
                            {#{{ form_start(form, {'attr': {'method': 'POST'}}) }}#}
                            <form action="{{ path('recette_create') }}" method="post" enctype="multipart/form-data">
                                <label for="title">Nom de la recette</label>
                                <input type="text" name="cree_recette[nom]" id="cree_recette_nom" />
                                {#{{ form_widget(form.nom, {'attr': {'class': '', 'placeholder': 'Recipe Title'}}) }}#}
                                <br/>

                                <label for="short-description">Description de la recette</label>
                                <textarea class="short-text" name="cree_recette[description]" id="short-description" cols="30" rows="10"></textarea>
                                {#{{ form_widget(form.description, {'attr': {'class': 'short-text', 'placeholder': 'Short Description'}}) }}#}

                                {#<label for="recipe-content">Recipe Contents</label>
                                <textarea name="content" id="recipe-content" cols="30" rows="10"></textarea>
                                {{ form_widget(form.nom, {'attr': {'class': '', 'placeholder': 'Recipe Title'}}) }}#}

                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="course-select">Difficulté</label>
                                        <select name="difficulte" id="course-select" class="advance-selectable">
                                            <option value="Facile" disabled selected="selected">Choisir difficulté</option>
                                            <option value="Facile">Facile</option>
                                            <option value="Moyen">Moyen</option>
                                            <option value="Difficile">Difficile</option>
                                            <option value="Expert">Expert</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="skill">Categories</label>
                                        <select name="categorie" id="skill" class="advance-selectable">
                                            <option value="1" disabled selected="selected">Choisir categorie</option>
                                            {% for category in categories %}
                                                <option value="{{ category.id }}">{{ category.nom }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="yield">Temps</label>
                                        <input type="text" name="cree_recette[duree]" id="yield"/>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="servings">Nombre de personne(s)</label>
                                        <input type="text" name="cree_recette[personne]" id="servings"/>
                                        {#{{ form_widget(form.personne, {'attr': {'class': '', 'placeholder': '1'}}) }}#}
                                    </div>
                                </div>

                                <label for="upload-image">Image à la une</label>
                                <input type="file" name="image" id="image"/>
                                {#{{ form_widget(form.image, {'attr': {'class': '',}}) }}#}
                                <fieldset class="ingredient-set">
                                    <label for="medias">Others Medias</label>
                                    <ul class="list-sortable medias-list">
                                        <li>
                                            <div class="add-fields">
                                                <span class="handler-list"><i class="fa fa-arrows"></i></span>
                                                <input type="file" name="medias[]" id="medias" class="medias"/>
                                                <span class="del-list media-trash"><i class="fa fa-trash"></i></span>
                                            </div>
                                        </li>
                                    </ul>
                                    <span class="add-button add-media">
                                        <i class="fa fa-plus"></i>
                                    </span>
                                </fieldset>

                                <fieldset class="ingredient-set">
                                    <label for="ingredients">Ingredients</label>
                                    <ul class="list-sortable ingredients-list">
                                        <li>
                                            <div class="add-fields">
                                                <span class="handler-list"><i class="fa fa-arrows"></i></span>
                                                <input type="text" name="ingredients[]" id="ingredients"/>
                                                <span class="del-list"><i class="fa fa-trash"></i></span>
                                            </div>
                                        </li>
                                    </ul>
                                    <span class="add-button add-ing">
                                            <i class="fa fa-plus"></i>
                                        </span>
                                </fieldset>

                                <div class="text-center">
                                    <button type="submit" class="recipe-submit-btn">Enregistrer</button>
                                </div>
                            </form>
                            {#{{ form_end(form) }}#}
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3">
                    <aside>
                        <div class="side-bar">
                        </div>
                    </aside>
                </div>
            </div>

        </div>
    </div>

    <script defer>
        /*$(".medias").on("change", function() {
            console.log("You can select only 2 images");
            console.log($(".medias"));
            if ($(".medias")[0].files.length > 2) {
                alert("You can select only 2 images");
            } else {
                $("#imageUploadForm").submit();
            }
        });*/
    </script>

{% endblock %}
