{% extends 'base.html.twig' %}

{% block title %}LIST RECIPES{% endblock %}

{% block body %}
    <style>
        .center_comment {
            margin-right: auto;
            margin-left: auto;
            padding-left: 15px;
            padding-right: 15px;
        }

        .date_time {
            background: #fff;
            cursor: pointer;
            padding: 5px 10px;
            border: 1px solid #ccc;
            width: 100%;
        }
    </style>
    <!--banner-->
    <div class="banner banner-blog">
        <div class="container ">
            <div class="main-heading">
                <h1>LIST RECIPES</h1>
            </div>

        </div>
    </div>
    <div class="advance-search search-main open">
        <!--advance search form-->
        <div class="container">
            <div class="wrapper-search">
                <div class="container-tags">
                    <span class="tag">
                        <span class="tag-inner">Find Recipes <i class="fa fa-angle-down"></i></span>
                    </span>
                </div>
                <div class="outer-advance-search">

                    {# {{ form_start(form, {'attr': {'method': 'POST'}}) }} #}
                    <form action="javascript:void(0);" id="advance-search">
                        <fieldset>
                            <div class="inner-advance-search">

                                <div class="form-field">
                                    <label for="filter_category">Category</label>
                                    <select id="filter_category" name="filter_category" class="advance-selectable">
                                        <option value="" disabled selected="selected">Choose category</option>
                                        {% for category in categories %}
                                            <option value="{{ category.id }}">{{ category.nom }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-field">
                                    <label for="filter_level">Level</label>
                                    <select id="filter_level" name="filter_level" class="advance-selectable">
                                        <option value="" disabled selected="selected">Choose Level</option>
                                        <option value="Facile">Facile</option>
                                        <option value="Moyen">Moyen</option>
                                        <option value="Difficile">Difficile</option>
                                        <option value="Expert">Expert</option>
                                        {# {% for category in categories %}
                                            <option value="{{ category.id }}">{{ category.nom }}</option>
                                        {% endfor %} #}
                                    </select>
                                </div>

                                <div class="form-field">
                                    <label for="filter_time">Publish At</label>
                                    <div id="reportrange"
                                         style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                                        <i class="fa fa-calendar"></i>&nbsp;
                                        <span></span> <i class="fa fa-caret-down"></i>
                                    </div>
                                </div>

                                <div class="form-field">
                                    <label for="q">Recipe Title</label>
                                    <input type="text" name="q" id="q">
                                    {# {{ form_widget(form.q) }} #}
                                </div>

                                {#<button type="submit"><i class="fa fa-search"></i></button>#}

                            </div>
                        </fieldset>
                    </form>
                    {# {{ form_end(form) }} #}
                </div>
            </div>
        </div>
        <!--advance search form ends-->
    </div>
    <!--banner-->

    <div class="recipes-home-body inner-page">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="recipe-set">
                        <div class="listing-buttons">
                            <span class="grid "><i class="fa fa-th-large"></i></span>
                            <span class="list current"><i class="fa fa-bars"></i></span>
                        </div>
                        <h2 id="latest_recipes">Latest Recipes</h2>

                        <img id="spinner" class="center_comment" src="{{ asset('assets/images/spinner.gif') }}" alt="RECIPE" style="display: block;">
                        <div class="recipe-listing listing-list" id="list-recipes">

                        </div>
                        <ul class="page-nav" id="pagination">
                            {#<li class="current">
                                <a href="javascript:void(0)">1</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">2</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">3</a>
                            </li>#}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <script>
        $(document).ready(function () {
            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                }
            });

            let baseurl = window.location.origin
            let spinner = $('#spinner');
            let params = {
                'q': '',
                'level': null,
                'category': null,
                'startDate': null,
                'endDate': null,
                'page': 1,
                'limit': 9,
            }
            let start = moment().subtract(29, 'days');
            let end = moment();

            let filter_q = $('#q');
            let filter_level = $('#filter_level');
            let filter_category = $('#filter_category');
            //load_recipes(params);
            function load_recipes (params, start = null, end = null) {
                let startDate = null
                if (start != null)
                    startDate = formatDate(new Date(start))
                let endDate = null
                if (end != null)
                    endDate = formatDate(new Date(end))
                $.ajax({
                    url: baseurl + '/data_recipes',
                    type: 'get',
                    data: {
                        q: params.q,
                        level: params.level,
                        category: params.category,
                        start: startDate,
                        end: endDate,
                        page: params.page,
                        limit: params.limit,
                    },
                    dataType: 'json',
                    success: function(recipes){
                        let box = baseurl + '/box/'
                        let path = baseurl + window.location.pathname
                        //let html = ''
                        let widget = ''
                        $.each(recipes.data, function (key, recipe) {
                            let description = recipe.description
                            if (description.length > 150) {
                                description = description.substring(0, 150) + ' . . .'
                            }
                            let date = new Date(recipe.date)
                            date = date.getDate()
                                + '/' + ("0" + (date.getMonth() + 1)).slice(-2) + '/'
                                + date.getFullYear()
                            /*html += '<div class="recipe-single animated wow flipInY animation-delay200ms">'
                                html += '<div class="recipe-image">'
                                    html += '<a href="'+ path + recipe.slug +'"><img src="'+ box+recipe.image +'" alt="'+ recipe.nom +'"></a>'
                                html += '</div>'
                                html += '<div class="outer-detail">'
                                    html += '<div class="detail">'
                                        html += '<h3><a href="'+ path + recipe.slug +'">'+ recipe.nom +'</a></h3>'
                                        html += '<div class="short-separator"></div>'
                                        html += '<ul class="news-post-meta post-meta">'
                                            html += '<li class="author"><a href="javascript:void(0);">'+ recipe.auteur.username +'</a></li>'
                                            html += '<li class="date">'+ date +'</li>'
                                        html += '</ul>'
                                    html += '</div>'
                                html += '</div>'
                            html += '</div>'*/

                            widget += '<div class="listing">'
                            widget += '<div class="image">' +
                                '   <a href="'+ path + recipe.slug +'">' +
                                '       <img src="'+ box+recipe.image +'" alt="'+ recipe.nom +'">' +
                                '   </a>' +
                                '</div>'
                            widget += '<div class="detail">' +
                                '<h4><a href="'+ path + recipe.slug +'">'+ recipe.nom +'</a></h4>' +
                                '<p>'+ description +'</p>' +
                                '<div class="meta-listing">' +
                                '   <ul class="post-meta">' +
                                '       <li class="author"><a href="#">'+ recipe.auteur.username +'</a></li>' +
                                '       <li class="date">'+ date +'</li>' +
                                '   </ul>' +
                                '</div>' +
                                '</div>'
                            widget += '</div>'
                        });
                        $('#list-recipes').html(widget);

                        build_pagination(recipes)
                    },
                    beforeSend: function () {
                        spinner.css("display", 'block');                        console.log("SEND")
                    }
                })
                .done(function () {
                    spinner.css("display", 'none');
                })
                .error(function () {
                    spinner.css("display", 'none');
                })
                ;
            }

            $('#filter_category').on("change", function (e) {
                e.preventDefault();
                params.category = filter_category.val()
                load_recipes(params, start, end)
            });
            $('#filter_level').on("change", function (e) {
                e.preventDefault();
                params.level = filter_level.val()
                load_recipes(params, start, end)
            });
            $('#q').on("keyup", function (e) {
                e.preventDefault();
                params.q = filter_q.val()
                load_recipes(params, start, end)
            });
            $(document).on("click", ".paginate-link" , function(e) {
                //e.preventDefault();
                params.page = $(this).data('id')
                load_recipes(params)
            });

            function cb(_start, _end) {
                $('#reportrange span').html(_start.format('MMMM D, YYYY') + ' - ' + _end.format('MMMM D, YYYY'));

                start = _start
                end = _end
                load_recipes(params, start, end)
            }

            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);
            cb(start, end);
            function formatDate(date) {
                let month = '' + (date.getMonth() + 1)
                let day = '' + date.getDate()
                let year = date.getFullYear()
                let hours = date.getHours()
                let minutes = date.getMinutes()
                let seconds = date.getSeconds()

                if (month.length < 2)
                    month = '0' + month;
                if (day.length < 2)
                    day = '0' + day;

                let _date = [year, month, day].join('-');
                let _time = [hours, minutes, seconds].join(':')
                return _date + ' ' + _time;
            }

            function build_pagination(data) {
                let pages = ''
                //pages += '<li class=""><a href="javascript:void(0)"><i class="fa fa-arrow-left"></a></li>'

                let last = data.last_page + 1
                for (let i = 1; i < last; i++) {
                    if (i === data.current_page) {
                        pages += '<li class="current"><a data-id="'+i+'" class="paginate-link"  href="#latest_recipes">'+ i +'</a></li>'
                    }
                    else {
                        pages += '<li class=""><a data-id="'+i+'" class="paginate-link" href="#latest_recipes">'+ i +'</a></li>'
                    }
                }
                //pages += '<li class=""><a href="javascript:void(0)"><i class="fa fa-arrow-right"></a></li>'
                $('#pagination').html(pages);
            }
        });
    </script>

{% endblock %}
