{% extends 'base.html.twig' %}

{% block title %}DETAILS RECETTE!{% endblock %}

{% block body %}
    <style>
        .center_comment {
            margin-right: auto;
            margin-left: auto;
            padding-left: 15px;
            padding-right: 15px;
        }
    </style>
    <!--banner-->
    <div class="banner banner-blog">
        <div class="container ">
            <div class="main-heading">
                <h1>Détails De La Recette</h1>
            </div>

        </div>
    </div>
    <div class="advance-search">
        <!--advance search form-->
        <div class="container">
            <div class="wrapper-search">
            </div>
        </div>
        <!--advance search form ends-->
    </div>
    <!--banner ends-->

    <div class="recipes-home-body inner-page">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="recipe-set ">
                        <div class="wrapper-detail-contents">
                            <div class="single-recipe-detail">
                                <div class="wrapper-recipe-heading">
                                    <div class="heading">
                                        <h2>{{ recette.nom }}</h2>
                                        <div class="rating-box">
                                            {% for i in range(1, 5) %}
                                                {{ include('components/star.html.twig', {index: i}) }}
                                            {% endfor %}
                                            <span class="rating-figure">
                                                ({{ recette.notes.count }})
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="slider-recipe-detail">
                                    <div class="wrapper-slider-detail">
                                        <div class="top-slider">
                                            <div id="single-slider-flex" class="flexslider slider-detail">
                                                <ul class="slides">
                                                    <li>
                                                        <a rel="recipe-slider-1" href="javascript:void(0);" class="swipebox">
                                                            <img src="{{ asset('box/' ~ recette.image) }}" alt="{{ recette.nom }}"/>
                                                        </a>
                                                    </li>
                                                    {% for media in recette.media %}
                                                    <li>
                                                        <a rel="recipe-slider-1" href="javascript:void(0);" class="swipebox">
                                                            {#<img src="{{ asset('box/' ~ media.path) }}" alt="{{ recette.nom }}"/>#}
                                                            <img src="{{ asset('box/' ~ media.path) }}" alt="{{ recette.nom }}"/>
                                                        </a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <span class="custom-arrows wider">
                                            <span class="left-arrow slick-arrow" data-direction="prev"
                                                  style="display: table-cell;"><i class="fa fa-arrow-left"></i></span>
                                            <span class="right-arrow slick-arrow" data-direction="next"
                                                  style="display: table-cell;"><i class="fa fa-arrow-right"></i></span>
                                        </span>
                                        </div>
                                        <div id="recipe-slider-carousel">
                                            <div id="recipe-carousel-flex">
                                                <ul class="slides">
                                                    <li>
                                                        <img
                                                            src="{{ asset('box/' ~ recette.image) }}"
                                                            alt="{{ recette.nom }}"
                                                            style="width: 100px; height: 59px;"
                                                        />
                                                    </li>
                                                    {% for media in recette.media %}
                                                    <li>
                                                        <img
                                                            src="{{ asset('box/' ~ media.path) }}"
                                                            alt="{{ recette.nom }}"
                                                            style="width: 100px; height: 59px;"
                                                        />
                                                    </li>
                                                    {% endfor %}

                                                </ul>
                                            </div>
                                            <span class="custom-arrows wider">
                                            <span class="left-arrow slick-arrow" data-direction="prev"
                                                  style="display: table-cell;"><i class="fa fa-arrow-left"></i></span>
                                            <span class="right-arrow slick-arrow" data-direction="next"
                                                  style="display: table-cell;"><i class="fa fa-arrow-right"></i></span>
                                        </span>
                                        </div>
                                    </div>
                                    <ul class="recipe-specs">
                                        <li>
                                            <span class="count">{{ recette.personne }}</span>
                                            <span class="text">Personnes</span>
                                        </li>
                                        <li>
                                            <span class="count">{{ recette.duree }}
                                                {#<span>h</span>#}
                                            </span>
                                            <span class="text"> Temps</span>
                                        </li>
                                        <li>
                                            <span class="count"></span>
                                            <span class="text"></span>
                                        </li>
                                        <li>
                                            <span class="count"></span>
                                            <span class="text"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                            <div class="recipe-detail-body">
                                <a href="javascript:void(0);" class="print-button">
                                    <i class="fa fa-print"></i>
                                    Imprimer recette
                                </a>

                                <ul class="pre-tags">
                                    <li><span>Categorie : </span>{{ recette.categorie.nom }}</li>
                                    <li><span>Difficulté : </span>{{ recette.difficulte }}</li>
                                    {#<li><span>Course : </span>Side Dish</li>#}
                                </ul>
                                <div class="separator-post"></div>
                                <p>{{ recette.description }}</p>
                                <br/>
                                <div class="ingredients-checkbox">
                                    <div class="ingredients">
                                        <h3>Ingredients</h3>
                                        <ul>
                                            {% for ingredient in recette.ingredients %}
                                            <li>
                                                <label>
                                                    <input type="checkbox"/>
                                                    {{ ingredient.designation }}
                                                </label>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {#<div class="nutritional">
                                        <h3>Nutritional</h3>
                                        <div class="nutrition-detail">
                                            <div class="left-box">
                                                Protine
                                                <br/>
                                                <span>6.60g</span>
                                            </div>
                                            <div class="right-box">
                                                Fat Saturated
                                                <br/>
                                                <span>39.5g</span>
                                            </div>
                                        </div>
                                        <div class="separator-post"></div>
                                        <div class="nutrition-detail">
                                            <div class="left-box">
                                                Deitary Fiber
                                                <br/>
                                                <span>50g</span>
                                            </div>
                                            <div class="right-box">
                                                Sodium
                                                <br/>
                                                <span>10g</span>
                                            </div>
                                        </div>
                                        <div class="separator-post"></div>
                                        <div class="nutrition-detail">
                                            <div class="left-box">
                                                Fat Total
                                                <br/>
                                                <span>60g</span>
                                            </div>
                                            <div class="right-box">
                                                Carbohydrate
                                                <br/>
                                                <span>0</span>
                                            </div>
                                        </div>
                                        <div class="separator-post"></div>
                                        <div class="nutrition-detail">
                                            <div class="left-box">
                                                Energy
                                                <br/>
                                                <span>900mg</span>
                                            </div>
                                            <div class="right-box">
                                                Cholesterol
                                                <br/>
                                                <span>80g</span>
                                            </div>
                                        </div>
                                    </div>#}
                                </div>

                                {#<div class="recipe-steps">
                                    <h3 class="lined">Step by Step method</h3>
                                    <ul class="steps-list">
                                        <li>
                                            <div class="step-single">
                                                <div class="step-image">
                                                    <a href="images/temp-images/slide-recipe-detail.jpg"
                                                       rel="recipe-slider-1" class="swipebox"><img
                                                                src="images/temp-images/step1.jpg"
                                                                alt="image"/></a>
                                                </div>
                                                <div class="step-detail">
                                                    <h3>Step 1.</h3>
                                                    <p>
                                                        Rinse the chicken pieces in cold water and pat dry. Place the
                                                        chicken in a large, resealable zip-top bag and pour in the
                                                        marinade. Toss the chicken inside the bag to cover evenly with
                                                        the marinade and refrigerate for 12 hours or as long as
                                                        overnight.
                                                    </p>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="step-single">
                                                <div class="step-image">
                                                    <a href="images/temp-images/slide-recipe-detail.jpg"
                                                       rel="recipe-slider-1" class="swipebox"><img
                                                                src="images/temp-images/step2.jpg" alt="image"/></a>
                                                </div>
                                                <div class="step-detail">
                                                    <h3>Step 2.</h3>
                                                    <p>
                                                        Rinse the chicken pieces in cold water and pat dry. Place the
                                                        chicken in a large, resealable zip-top bag and pour in the
                                                        marinade. Toss the chicken inside the bag to cover evenly with
                                                        the marinade and refrigerate for 12 hours or as long as
                                                        overnight.
                                                    </p>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="step-single">
                                                <div class="step-image">
                                                    <a href="images/temp-images/slide-recipe-detail.jpg"
                                                       rel="recipe-slider-1" class="swipebox"><img
                                                                src="images/temp-images/step3.jpg" alt="image"/></a>
                                                </div>
                                                <div class="step-detail">
                                                    <h3>Step 3.</h3>
                                                    <p>
                                                        Rinse the chicken pieces in cold water and pat dry. Place the
                                                        chicken in a large, resealable zip-top bag and pour in the
                                                        marinade. Toss the chicken inside the bag to cover evenly with
                                                        the marinade and refrigerate for 12 hours or as long as
                                                        overnight.
                                                    </p>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="step-single">
                                                <div class="step-image">
                                                    <a href="images/temp-images/slide-recipe-detail.jpg"
                                                       rel="recipe-slider-1" class="swipebox"><img
                                                                src="images/temp-images/step4.jpg" alt="image"/></a>
                                                </div>
                                                <div class="step-detail">
                                                    <h3>Step 4.</h3>
                                                    <p>
                                                        Rinse the chicken pieces in cold water and pat dry. Place the
                                                        chicken in a large, resealable zip-top bag and pour in the
                                                        marinade. Toss the chicken inside the bag to cover evenly with
                                                        the marinade and refrigerate for 12 hours or as long as
                                                        overnight.
                                                    </p>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="step-single">
                                                <div class="step-image">
                                                    <a href="images/temp-images/slide-recipe-detail.jpg"
                                                       rel="recipe-slider-1" class="swipebox"><img
                                                                src="images/temp-images/step5.jpg" alt="image"/></a>
                                                </div>
                                                <div class="step-detail">
                                                    <h3>Step 5.</h3>
                                                    <p>
                                                        Rinse the chicken pieces in cold water and pat dry. Place the
                                                        chicken in a large, resealable zip-top bag and pour in the
                                                        marinade. Toss the chicken inside the bag to cover evenly with
                                                        the marinade and refrigerate for 12 hours or as long as
                                                        overnight.
                                                    </p>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>#}


                                <div class="separator-post"></div>
                                {#<div class="tags-icons">
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <div class="details-tags">
                                                <ul>
                                                    <li><a href="#">garlic</a></li>
                                                    <li><a href="#">pizza</a></li>
                                                    <li><a href="#">potato</a></li>
                                                    <li><a href="#">roasted</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="details-social-icons">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-plus"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>#}
                            </div>

                             <div class="about-chef">
                                <h3 class="lined">About Chef</h3>
                                <div class="listing">
                                    <div class="image">
                                        <div class="image-inner">
                                            <a href="{{ path('user_profile', {'slug': recette.auteur.slug}) }}">
                                                <img src="{{ asset('assets/images/temp-images/about-chef-detail.jpg') }}" alt="chef"/>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="detail">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <h4><a href="{{ path('user_profile', {'slug': recette.auteur.slug}) }}">{{ recette.auteur.username }}</a></h4>

                                            </div>
                                            <div class="col-sm-4">
                                                <ul class="chef-social-links">
                                                    <li><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <p>{{ recette.auteur.biography }}</p>
                                        <a href="{{ path('user_profile', {'slug': recette.auteur.slug}) }}" class="read-more-angle">Read More</a>
                                    </div>
                                </div>
                            </div>

                            {# <div class="related-recipes">
                                <h3 class="lined">Related Recipes</h3>
                                <div class="boxed-recipes text-center">
                                    <!--single recipe-->
                                    <div class="recipe-single">
                                        <div class="recipe-image">
                                            <a href="#"><img src="images/temp-images/main-recipe1.jpg" alt="image"></a>
                                        </div>
                                        <div class="outer-detail">
                                            <div class="detail">
                                                <h3><a href="#">Pasto Pizza with fillas
                                                        Cheese Toppings</a></h3>

                                                <div class="short-separator"></div>
                                                <div class="rating-box">
                                    <span class="rating-icons">
                                        <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                            <g>
                                                <title>background</title>
                                                <rect fill="none" height="21" width="27" y="-1" x="-1"/>
                                            </g>
                                            <g>
                                                <title>Layer 1</title>
                                                <path class="icon-svg"
                                                      d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z"
                                                      clip-rule="evenodd" fill-rule="evenodd"/>
                                            </g>
                                        </svg>
                                    </span>
                                                    <span class="rating-icons">
                                        <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                            <g>
                                                <title>background</title>
                                                <rect fill="none" height="21" width="27" y="-1" x="-1"/>
                                            </g>
                                            <g>
                                                <title>Layer 1</title>
                                                <path class="icon-svg"
                                                      d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z"
                                                      clip-rule="evenodd" fill-rule="evenodd"/>
                                            </g>
                                        </svg>
                                    </span>
                                                    <span class="rating-icons">
                                        <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                            <g>
                                                <title>background</title>
                                                <rect fill="none" height="21" width="27" y="-1" x="-1"/>
                                            </g>
                                            <g>
                                                <title>Layer 1</title>
                                                <path class="icon-svg"
                                                      d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z"
                                                      clip-rule="evenodd" fill-rule="evenodd"/>
                                            </g>
                                        </svg>
                                    </span>
                                                    <span class="rating-icons">
                                        <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                            <g>
                                                <title>background</title>
                                                <rect fill="none" height="21" width="27" y="-1" x="-1"/>
                                            </g>
                                            <g>
                                                <title>Layer 1</title>
                                                <path class="icon-svg"
                                                      d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z"
                                                      clip-rule="evenodd" fill-rule="evenodd"/>
                                            </g>
                                        </svg>
                                    </span>
                                                    <span class="rating-icons">
                                        <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                            <g>
                                                <title>background</title>
                                                <rect fill="none" height="21" width="27" y="-1" x="-1"/>
                                            </g>
                                            <g>
                                                <title>Layer 1</title>
                                                <path class="icon-svg"
                                                      d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z"
                                                      clip-rule="evenodd" fill-rule="evenodd"/>
                                            </g>
                                        </svg>
                                    </span>
                                                    <span class="rating-figure">(4.1 / 5)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--single recipe ends-->

                                    <!--single recipe-->
                                    <div class="recipe-single">
                                        <div class="recipe-image">
                                            <a href="#"><img src="images/temp-images/main-recipe2.jpg" alt="image"></a>
                                        </div>
                                        <div class="outer-detail">
                                            <div class="detail">
                                                <h3><a href="#">Pasto Pizza with fillas
                                                        Cheese Toppings</a></h3>
                                                <div class="short-separator"></div>
                                                <div class="rating-box">
                        <span class="rating-icons"><svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                            <g>
                                <title>background</title>
                                <rect fill="none"  height="21" width="27" y="-1" x="-1"/>
                            </g>
                            <g>
                                <title>Layer 1</title>
                                <path class="icon-svg"  d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd"/>
                            </g>
                        </svg></span>
                                                    <span class="rating-icons"><svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                            <g>
                                <title>background</title>
                                <rect fill="none"  height="21" width="27" y="-1" x="-1"/>
                            </g>
                            <g>
                                <title>Layer 1</title>
                                <path class="icon-svg"  d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd"/>
                            </g>
                        </svg></span>
                                                    <span class="rating-icons"><svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                            <g>
                                <title>background</title>
                                <rect fill="none"  height="21" width="27" y="-1" x="-1"/>
                            </g>
                            <g>
                                <title>Layer 1</title>
                                <path class="icon-svg"  d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd"/>
                            </g>
                        </svg></span>
                                                    <span class="rating-icons"><svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                            <g>
                                <title>background</title>
                                <rect fill="none"  height="21" width="27" y="-1" x="-1"/>
                            </g>
                            <g>
                                <title>Layer 1</title>
                                <path class="icon-svg"  d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd"/>
                            </g>
                        </svg></span>
                                                    <span class="rating-icons"><svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                            <g>
                                <title>background</title>
                                <rect fill="none"  height="21" width="27" y="-1" x="-1"/>
                            </g>
                            <g>
                                <title>Layer 1</title>
                                <path class="icon-svg"  d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd"/>
                            </g>
                        </svg></span>
                                                    <span class="rating-figure">(4.1 / 5)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--single recipe ends-->

                                    <!--single recipe-->
                                    <div class="recipe-single">
                                        <div class="recipe-image">
                                            <a href="#"><img src="images/temp-images/main-recipe3.jpg" alt="image"></a>
                                        </div>
                                        <div class="outer-detail">
                                            <div class="detail">
                                                <h3><a href="#">Pasto Pizza with fillas
                                                        Cheese Toppings</a></h3>
                                                <div class="short-separator"></div>
                                                <div class="rating-box">
                        <span class="rating-icons"><svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                            <g>
                                <title>background</title>
                                <rect fill="none"  height="21" width="27" y="-1" x="-1"/>
                            </g>
                            <g>
                                <title>Layer 1</title>
                                <path class="icon-svg"  d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd"/>
                            </g>
                        </svg></span>
                                                    <span class="rating-icons"><svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                            <g>
                                <title>background</title>
                                <rect fill="none"  height="21" width="27" y="-1" x="-1"/>
                            </g>
                            <g>
                                <title>Layer 1</title>
                                <path class="icon-svg"  d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd"/>
                            </g>
                        </svg></span>
                                                    <span class="rating-icons"><svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                            <g>
                                <title>background</title>
                                <rect fill="none"  height="21" width="27" y="-1" x="-1"/>
                            </g>
                            <g>
                                <title>Layer 1</title>
                                <path class="icon-svg"  d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd"/>
                            </g>
                        </svg></span>
                                                    <span class="rating-icons"><svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                            <g>
                                <title>background</title>
                                <rect fill="none"  height="21" width="27" y="-1" x="-1"/>
                            </g>
                            <g>
                                <title>Layer 1</title>
                                <path class="icon-svg"  d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd"/>
                            </g>
                        </svg></span>
                                                    <span class="rating-icons"><svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                            <g>
                                <title>background</title>
                                <rect fill="none"  height="21" width="27" y="-1" x="-1"/>
                            </g>
                            <g>
                                <title>Layer 1</title>
                                <path class="icon-svg"  d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd"/>
                            </g>
                        </svg></span>
                                                    <span class="rating-figure">(4.1 / 5)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--single recipe ends-->
                                </div>
                            </div> #}

                            {# <div class="recipe-comments">
                                <h3 class="lined">Comments (2)</h3>
                                <ul>
                                    <li>
                                        <div class="avatar">
                                            <a href="#"><img src="images/temp-images/recipe-comment1.jpg" alt="avatar"/></a>
                                        </div>
                                        <div class="comment">
                                            <h5><a href="#">John Doe</a></h5>
                                            <span class="time">(2hours ago)</span>
                                            <p>
                                                Rinse the chicken pieces in cold water and pat dry. Place the chicken in a large, resealable zip-top bag and pour in the marinade.
                                            </p>
                                            <a href="#" class="reply-button">Reply</a>
                                        </div>

                                        <ul>
                                            <li>
                                                <div class="avatar">
                                                    <a href="#"><img src="images/temp-images/recipe-comment2.jpg" alt="avatar"/></a>
                                                </div>
                                                <div class="comment">
                                                    <h5><a href="#">John Doe</a></h5>
                                                    <span class="time">(2hours ago)</span>
                                                    <p>
                                                        Rinse the chicken pieces in cold water and pat dry. Place the chicken
                                                    </p>
                                                    <a href="#" class="reply-button">Reply</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <div class="avatar">
                                            <a href="#"><img src="images/temp-images/recipe-comment1.jpg" alt="avatar"/></a>
                                        </div>
                                        <div class="comment">
                                            <h5><a href="#">John Doe</a></h5>
                                            <span class="time">(2hours ago)</span>
                                            <p>
                                                Rinse the chicken pieces in cold water and pat dry. Place the chicken in a large, resealable zip-top bag and pour in the marinade.
                                            </p>
                                            <a href="#" class="reply-button">Reply</a>
                                        </div>
                                    </li>
                                </ul>
                            </div> #}

                            {# <div class="comment-form">
                                <h3 class="lined">Leave Comment</h3>

                                <form action="#" method="post">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" name="name" placeholder="Name"/>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="email" name="email" placeholder="Email"/>
                                        </div>
                                    </div>
                                    <textarea name="comment" id="comment" cols="30" rows="10" placeholder="Message"></textarea>
                                    <button class="submit-comment">Submit</button>
                                </form>
                            </div> #}

                            {% if app.user != null %}
                            <div class="comment-form">
                                <h3 class="lined">Laisser un commentaire</h3>

                                {#<form action="{{ path('comment_create', {'id': recette.id}) }}" method="post">#}
                                <form id="comment-form" method="post">
                                    <input type="hidden" name="recipe" id="recipe" value="{{ recette.id }}">
                                    {#<div class="row">
                                        <div class="col-md-6">
                                            <input type="text" name="name" placeholder="Name"/>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="email" name="email" placeholder="Email"/>
                                        </div>
                                    </div>#}
                                    <textarea name="content" id="content" cols="30" rows="10" placeholder="Message"></textarea>
                                    <button id="btn-post-comment" class="submit-comment">
                                        Poster
                                    </button>
                                </form>
                            </div>
                            {% endif %}

                            <div class="recipe-comments">
                                <h3 class="lined" id="total_comments">Comments ({{ comments_count }})</h3>
                                <img id="spinner" class="center_comment" src="{{ asset('assets/images/spinner.gif') }}" alt="{{ recette.nom }}" style="display: block;">
                                {#<ul>
                                    {% for comment in comments %}
                                        {% if comment.mainComment == null %}
                                            <li>
                                                <div class="avatar">
                                                    <a href="javascript:void (0);">
                                                        {{ include('recette/avatar.html.twig') }}
                                                    </a>
                                                </div>
                                                <div class="comment">
                                                    <h5>
                                                        <a href="javascript:void(0);">{{ comment.auteur.username }}</a>
                                                    </h5>
                                                    <span class="time">({{ comment.timeAgo }})</span>
                                                    <p> {{ comment.content }} </p>
                                                    <a href="javascript:void(0);" class="reply-button">Reply</a>
                                                </div>

                                                #}{#{% if comment.comments is not empty %}
                                                    <ul>
                                                        {% for sub_comment in comment.comments %}
                                                            <li>
                                                                <div class="avatar">
                                                                    <a href="javascript:void (0);">
                                                                        {{ include('recette/avatar.html.twig') }}
                                                                    </a>
                                                                </div>
                                                                <div class="comment">
                                                                    <h5>
                                                                        <a href="javascript:void(0);">{{ sub_comment.auteur.username }}</a>
                                                                    </h5>
                                                                    <span class="time">({{ sub_comment.timeAgo }})</span>
                                                                    <p> {{ sub_comment.content }} </p>
                                                                    <a href="javascript:void(0);" class="reply-button">Reply</a>
                                                                </div>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}#}{#
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>#}
                                <ul id="list-comments" class="center_comment">

                                </ul>
                            </div>



                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <aside>
                        <div class="side-bar">
                            <!--recipes search widget-->
                            <div class="widget recipe-search">
                                <div class="search-bar-widget">
                                    {#<form action="#">
                                        <div class="search-field">
                                            <input type="search" name="search" placeholder="Search"/>
                                            <button type="submit"><i class="fa fa-search"></i></button>
                                        </div>
                                    </form>#}
                                </div>

                                {% if app.user != null %}
                                    <div class="category-list">
                                        <!--<div class="list-inner">-->
                                        <ul>
                                            {% if app.user.id == recette.auteur.id %}
                                                <li>
                                                    <a href="{{ path('recette_edit', {'id': recette.id}) }}" class="btn-block">
                                                        <button type="button" class="btn btn-info btn-lg btn-block">Modifier</button>
                                                    </a>
                                                </li>
                                                {{ include('recette/_delete_form.html.twig') }}
                                            {% endif %}

                                            {% if app.user.id != recette.auteur.id %}
                                                <li>
                                                    <a href="javascript:void(0);" id="btn-rate" class="btn-block">
                                                        <button type="button" class="btn btn-info btn-lg btn-block">Noter</button>
                                                    </a>
                                                </li>
                                            {% endif %}
                                            <li style="display: none" id="star-block">
                                                <a href="javascript:void(0);" class="text-center">
                                                    {{ include('components/star_empty.html.twig') }}
                                                </a>
                                            </li>
                                        </ul>
                                        <!--</div>-->
                                    </div>
                                {% endif %}
                            </div>
                            <!--recipes search widget ends-->
                        </div>
                    </aside>
                </div>
            </div>

        </div>
    </div>

    <script>
        $(document).ready(function () {
            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                }
            });
            let baseurl = window.location.origin
            let path = baseurl + window.location.pathname + '/find'
            let spinner = $('#spinner');
            let recipe_id = $('#recipe').val();
            load_comment(recipe_id);

            function load_comment (id) {
                console.log(path)
                path = path.replace('recette', 'comment')
                $.ajax({
                    url: path,
                    type: 'get',
                    data: {id: id},
                    dataType: 'json',
                    success: function(comments){
                        let html = '';
                        $.each(comments, function (key, comment) {
                            html = html + '<li>'
                            html = html + '<div class="avatar"><a href="javascript:void (0);">' +
                                '<img src="https://ui-avatars.com/api/?name='+comment.auteur.username+'&color=7F9CF5&background=EBF4FF" alt="avatar"/></a>' +
                                '</div>'
                            html = html + '<div class="comment"><h5><a href="javascript:void(0);">'+comment.auteur.username+'</a></h5>'
                            html = html + '<span class="time">('+comment.time_ago+')</span>' +
                                '<p>'+comment.content+'</p></div></li>'
                        });
                        $('#list-comments').html(html);
                    },
                    beforeSend: function () {
                        console.log('SEND')
                        spinner.css("display", 'block');
                    }
                })
                .done(function () {
                    spinner.css("display", 'none');
                })
                .error(function () {
                    spinner.css("display", 'none');
                })
                ;
            }

            function post_comment (comment) {
                let btn = $('#btn-post-comment');
                $.ajax({
                    url: '/comment/create',
                    type: 'post',
                    data: {recipe: comment.recipe, content: comment.content},
                    dataType: 'json',
                    success: function(comment){
                        let listComments = $('#list-comments');
                        let element = '';

                        element = element + '<li>'
                        element = element + '<div class="avatar"><a href="javascript:void (0);">' +
                            '<img src="https://ui-avatars.com/api/?name='+comment.auteur.username+'&color=7F9CF5&background=EBF4FF" alt="avatar"/></a>' +
                            '</div>'
                        element = element + '<div class="comment"><h5><a href="javascript:void(0);">'+comment.auteur.username+'</a></h5>'
                        element = element + '<span class="time">('+comment.time_ago+')</span>' +
                            '<p>'+comment.content+'</p></div></li>'


                        listComments.prepend(element)
                        let total_comments = document.getElementById("list-comments").getElementsByTagName("li").length
                        $('#total_comments').text('Comments ('+total_comments+')')
                    },
                    beforeSend: function () {
                        btn.attr("disabled", true);
                    }
                })
                .done(function () {
                    btn.attr("disabled", false);
                })
                .error(function () {
                    //console.log('ERROR')
                    btn.attr("disabled", false);
                })
                ;
            }

            $('#comment-form').on("submit", function (e) {
                e.preventDefault();
                let comment = {
                    'recipe': $('#recipe').val(),
                    'content': $('#content').val(),
                }
                post_comment(comment)
            });

            let display_state = false
            $('#btn-rate').on("click", function (e) {
                e.preventDefault()
                console.log('BTN6CLICK')
                if (display_state === false)
                    $('#star-block').css('display', 'block')
                else
                    $('#star-block').css('display', 'none')
                display_state = !display_state
            });
        });
    </script>

{% endblock %}
