{% extends 'base.html.twig' %}

{% block title %}PROFILE | {{ user.username }}{% endblock %}

{% block body %}
    <style>
        .center_comment {
            margin-right: auto;
            margin-left: auto;
            padding-left: 15px;
            padding-right: 15px;
        }

        .date_time {
            background: #fff;
            cursor: pointer;
            padding: 5px 10px;
            border: 1px solid #ccc;
            width: 100%;
        }
    </style>
    <!--banner-->
    <div class="banner banner-blog">
        <div class="container ">
            <div class="main-heading">
                <h1>LIST RECIPES</h1>
            </div>

        </div>
    </div>
    <div class="advance-search">
        <!--advance search form-->
        <div class="container">
            <div class="wrapper-search">
                <div class="container-tags">
                    <span class="tag">
                        <span class="tag-inner">Find Recipes <i class="fa fa-angle-down"></i></span>
                    </span>
                </div>
                <div class="outer-advance-search">

                    {#{{ form_start(form, {'attr': {'method': 'POST'}}) }}#}
                    <form action="#" id="advance-search">
                        <fieldset>
                            <div class="inner-advance-search">

                                <div class="form-field">
                                    <label for="filter_category">Category</label>
                                    <select id="filter_category" name="filter_category" class="advance-selectable">
                                        <option value="" disabled selected="selected">Choose category</option>
                                        {% for category in categories %}
                                            <option value="{{ category.id }}">{{ category.nom }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-field">
                                    <label for="filter_level">Level</label>
                                    <select id="filter_level" name="filter_level" class="advance-selectable">
                                        <option value="" disabled selected="selected">Choose Level</option>
                                        <option value="Facile">Facile</option>
                                        <option value="Moyen">Moyen</option>
                                        <option value="Difficile">Difficile</option>
                                        <option value="Expert">Expert</option>
                                        {#{% for category in categories %}
                                            <option value="{{ category.id }}">{{ category.nom }}</option>
                                        {% endfor %}#}
                                    </select>
                                </div>

                                <div class="form-field">
                                    <label for="filter_time">Publish At</label>
                                    <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                                        <i class="fa fa-calendar"></i>&nbsp;
                                        <span></span> <i class="fa fa-caret-down"></i>
                                    </div>
                                </div>

                                <div class="form-field">
                                    <label for="q">Recipe Title</label>
                                    <input type="text" name="q" id="q">
                                    {#{{ form_widget(form.q) }}#}
                                </div>

                                <button type="submit"><i class="fa fa-search"></i></button>

                            </div>
                        </fieldset>
                    </form>
                    {#{{ form_end(form) }}#}
                </div>
            </div>
        </div>
        <!--advance search form ends-->
    </div>
    <!--banner-->

    <div class="recipes-home-body inner-page">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-12">
                    <div class="body-contents">
                        <div class="recipe-set">

                            <div class="about-chef">
                                <h3 class="lined">About Chef</h3>
                                <div class="listing">
                                    <div class="image">
                                        <div class="image-inner">
                                            <a href="javascript:void(0);">
                                                <img src="{{ asset('assets/images/temp-images/about-chef-detail.jpg') }}" alt="chef"/>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="detail">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <h4><a href="javascript:void(0);">{{ user.username }}</a></h4>

                                            </div>
                                            <div class="col-sm-4">
                                                <ul class="chef-social-links">
                                                    <li><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <p>{{ user.biography }}</p>
                                        {#<a href="javascript:void(0);" class="read-more-angle">Read More</a>#}
                                    </div>
                                </div>
                            </div>


                            {#<div class="row">
                                <div class="col-md-8 col-lg-12">#}
                                    <h2>Latest Recipes</h2>

                                    <img id="spinner" class="center_comment" src="{{ asset('assets/images/spinner.gif') }}" alt="RECIPE" style="display: block;">

                                    <div class="boxed-recipes text-center" id="list-recipes">
                                        {#{% for recette in recettes %}
                                    <!--single recipe-->
                                    <div class="recipe-single animated wow flipInY animation-delay200ms">
                                        <div class="recipe-image">
                                            <a href=<a"{{ path('recette_show', {'id': recette.id}) }}">
                                                <img src="{{ asset('box/' ~ recette.image) }}" alt="{{ recette.nom }}"/>
                                            </a>
                                        </div>
                                        <div class="outer-detail">
                                            <div class="detail">
                                                <h3>
                                                    <a href="{{ path('recette_show', {'id': recette.id}) }}">{{ recette.nom }}</a>
                                                </h3>

                                                <div class="short-separator"></div>
                                                <ul class="news-post-meta post-meta">
                                                    <li class="author"><a href="javascript:void(0);">{{ recette.auteur }}</a></li>
                                                    <li class="date">{{ recette.date ? recette.date|date('Y/m/d') : '' }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!--single recipe ends-->
                                {% endfor %}#}
                                    </div>

                                {#</div>
                            </div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="slug" value="{{ user.slug }}">

    <script>
        $(document).ready(function () {
            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                }
            });

            let baseurl = window.location.origin
            let spinner = $('#spinner');
            let params = {
                'q': '',
                'level': null,
                'category': null,
                'startDate': null,
                'endDate': null,
                'slug': $('#slug').val(),
                'page': 1,
                'limit': 9,
            }
            let start = moment().subtract(29, 'days');
            let end = moment();

            let filter_q = $('#q');
            let filter_level = $('#filter_level');
            let filter_category = $('#filter_category');
            //load_recipes(params);
            function load_recipes (params, start = null, end = null) {
                console.log(baseurl)
                let startDate = null
                if (start != null)
                    startDate = formatDate(new Date(start))
                let endDate = null
                if (end != null)
                    endDate = formatDate(new Date(end))
                $.ajax({
                    url: baseurl + '/data_recipes',
                    type: 'get',
                    data: {
                        q: params.q,
                        level: params.level,
                        category: params.category,
                        start: startDate,
                        end: endDate,
                        slug: params.slug,
                        page: params.page,
                        limit: params.limit,
                    },
                    dataType: 'json',
                    success: function(recipes){
                        //console.log(recipes.data)
                        let box = baseurl + '/box/'
                        let path = baseurl + '/recette/'
                        //console.log(path)
                        let html = ''
                        $.each(recipes.data, function (key, recipe) {
                            let date = new Date(recipe.date)
                            date = date.getDate()
                                + '/' + ("0" + (date.getMonth() + 1)).slice(-2) + '/'
                                + date.getFullYear()
                            html += '<div class="recipe-single animated wow flipInY animation-delay200ms">'
                            html += '<div class="recipe-image">'
                            html += '<a href="'+ path + recipe.slug +'"><img src="'+ box+recipe.image +'" alt="'+ recipe.nom +'"></a>'
                            html += '</div>'
                            html += '<div class="outer-detail">'
                            html += '<div class="detail">'
                            html += '<h3><a href="'+ path + recipe.slug +'">'+ recipe.nom +'</a></h3>'
                            html += '<div class="short-separator"></div>'
                            html += '<ul class="news-post-meta post-meta">'
                            html += '<li class="author"><a href="javascript:void(0);">'+ recipe.auteur.username +'</a></li>'
                            html += '<li class="date">'+ date +'</li>'
                            html += '</ul>'
                            html += '</div>'
                            html += '</div>'
                            html += '</div>'
                        });
                        $('#list-recipes').html(html);
                    },
                    beforeSend: function () {
                        spinner.css("display", 'block');
                        console.log("SEND")
                    }
                })
                    .done(function () {
                        spinner.css("display", 'none');
                        console.log("DONE")
                    })
                    .error(function () {
                        spinner.css("display", 'none');
                    })
                ;
            }

            $('#filter_category').on("change", function (e) {
                e.preventDefault();
                params.category = filter_category.val()
                load_recipes(params, start, end)
            });
            $('#filter_level').on("change", function (e) {
                e.preventDefault();
                params.level = filter_level.val()
                load_recipes(params, start, end)
            });
            $('#q').on("keyup", function (e) {
                e.preventDefault();
                params.q = filter_q.val()
                load_recipes(params, start, end)
            });

            function cb(_start, _end) {
                $('#reportrange span').html(_start.format('MMMM D, YYYY') + ' - ' + _end.format('MMMM D, YYYY'));

                start = _start
                end = _end
                //params.startDate = start
                //params.endDate =end
                console.log(start)
                load_recipes(params, start, end)
            }

            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);
            cb(start, end);
            function formatDate(date) {
                let month = '' + (date.getMonth() + 1)
                let day = '' + date.getDate()
                let year = date.getFullYear()
                let hours = date.getHours()
                let minutes = date.getMinutes()
                let seconds = date.getSeconds()

                if (month.length < 2)
                    month = '0' + month;
                if (day.length < 2)
                    day = '0' + day;

                let _date = [year, month, day].join('-');
                let _time = [hours, minutes, seconds].join(':')
                return _date + ' ' + _time;
            }
        });
    </script>
{% endblock %}
